<section data-ng-controller="OrdersController" data-ng-init="findOne()">
    <div class="page-header">
        <h3>
            <a href="#!/orders/{{order._id}}" class="pull-left">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </a>
            编辑订单: {{order.orderId}}
        </h3>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <order-form order="order" control="formControl"></order-form>
                <div class="form-group">
                    <label class="control-label" for="orderTime">预约时间:</label>
                    {{order.orderTime | date:'yyyy-MM-dd HH:mm'}}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="提交">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>